In [9]:
list=["gayathry","irin","gayathri"]
print(list)
print(list[1])
list.append("bitty")
print(list)

['gayathry', 'irin', 'gayathri']
irin
['gayathry', 'irin', 'gayathri', 'bitty']

In [12]:
list.append([10,4,3])
print(list)

['gayathry', 'irin', 'gayathri', 'bitty', [10, 4, 3], [10, 4, 3]]

In [14]:
list[1:4]

['irin', 'gayathri', 'bitty']

In [16]:
list[0:]

['gayathry', 'irin', 'gayathri', 'bitty', [10, 4, 3], [10, 4, 3]]

In [19]:
list.insert(1, "dilsha")
print(list)

['gayathry', 'dilsha', 'dilsha', 'dilsha', 'irin', 'gayathri', 'bitty', [10, 4, 3], [10, 4, 3]]

In [21]:
list1 = ["apple", "banana", "cherry"]
list2 = ["mango", "pineapple", "papaya"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [23]:
len(list)

9

In [25]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [27]:
list.remove("dilsha")
print(list)

['gayathry', 'dilsha', 'irin', 'gayathri', 'bitty', [10, 4, 3], [10, 4, 3]]

In [30]:
list.pop(1)
print(list)

['gayathry', 'gayathri', 'bitty', [10, 4, 3]]

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [41]:
name=["diya","ram"]
for x in name:
    print(x)

diya
ram

In [39]:
for i in range(len(name)):
    print(name)

['diya', 'ram']
['diya', 'ram']

In [42]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [43]:
name=["diya","ram","james"]
[print(x) for x in name]

diya
ram
james

[None, None, None]

In [46]:
name=["diya","ram","james"]
name.sort()
print(name)

['diya', 'james', 'ram']

In [48]:
thislist = ["Orange", "Mango", "kiwi", "pineapple", "Banana"]
thislist.sort()
print(thislist)

['Banana', 'Mango', 'Orange', 'kiwi', 'pineapple']

In [50]:
thislist = ["Orange", "Mango", "kiwi", "pineapple", "Banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'kiwi', 'Orange', 'Mango', 'Banana']

In [53]:
def hello():
    print("hello from function")
hello()

hello from function

In [56]:
def my_function(fname,lname):
    print(fname +" "+ lname)
my_function("gayathry","sunil")

gayathry sunil

In [58]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [60]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [61]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes